/*HEADER*/

.header {
    background-color: black;
    min-height: 380px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 50px;
}

.header__menu {
    display: flex;
    gap: 15px;
}

.header__ul {
    list-style-type: none;
    text-align: right;
    display: flex;
    gap: 15px;
}

.header__ul li a {
    color: black;
}

.header-icon {
    font-size: 50px;
    color: white;
}

.header__title {
    text-align: center;
    color: white;
}

.header__paragraph {
    text-align: justify;
    color: white;
    margin: 30px 50px 0px 50px;
}

/*SECCIÓN SKILLS*/

.skills-section {
    min-height: 270px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-section__title {
    font-size: 30px;
    margin: 0px;
    margin-bottom: 55px;
}

.skills-section__list {
    list-style-type: none; 
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/*SECCIÓN PROYECTOS*/

.project-section {
    margin-bottom: 50px;
}

.project-section__projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-section__project {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 50px 15px 50px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    max-width: 560px;
    margin: 20px;
}

.project-section__title {
    text-align: center;
    font-size: 30px;
    margin-top: 0px;
    margin: 0px 0px 55px;
}

.project-section__link {
    color: white;
    background-color: rgb(180, 179, 179);
    padding: 7px 10px 7px 10px;
    border-radius: 5px;
}

.project-section__button {
    margin-top: 10px;
}

.project-section__project-name {
    font-size: 23px;
    margin: 0px;
}

.project-section__descrip {
    font-size: 20px;
    text-align: justify;
}

.project-section__img {
    width: 500px;
}

/*@media (max-width: 500px) {
    .project-section__descrip {
        font-size: 20px;
        text-align: justify;
        margin: 0px 20px 0px 20px;
    }

    .project-section__img {
        width: 280px;
    }
}*/

/*SECCIÓN DE CONTACTO*/
.footer {
    background-color: black;
    height: 245px;
}

.footer__title {
    text-align: center;
    color: white;
    font-size: 30px;
    padding: 47px 0px 35px 0px;
    margin: 0;
}

.footer__contact-links {
    text-align: center;
    list-style-type: none;
}

.footer__contact-links li, a {
    text-decoration: none;
    color: white
}